<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akp.lintapipe_admin">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:exported="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.DhritiInfracare"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Menu.Report_OrderbysalesByorderId_New"
            android:exported="false" />
        <activity
            android:name=".Menu.Report_AllCommissionDetail"
            android:exported="false" />
        <activity
            android:name=".Menu.Report_DIS_retOrderListByOrderID"
            android:exported="false" />
        <activity
            android:name=".Menu.Report_DIS_retOrderList"
            android:exported="false" />
        <activity
            android:name=".Menu.Report_OrderbysalesByorderId"
            android:exported="false" />
        <activity
            android:name=".Menu.Report_Orderbysales"
            android:exported="false" />
        <activity
            android:name=".Menu.Report_TotalDistributorRetailerReg"
            android:exported="false" />
        <activity
            android:name=".Menu.Report_TotalsalepersonReg"
            android:exported="false" />
        <activity
            android:name=".Basic.ChangePasswordScreen" />
        <activity
            android:name=".Menu.MyAccount"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Basic.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Basic.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".Firebase.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Firebase.MyFirebaseInstanceIDService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>